* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  font-size: 0.5rem;
}
body .selected {
  font-weight: bold;
}
body a, body a:visited, body a:hover, body a:active {
  color: inherit;
  text-decoration: none;
}
body .container {
  min-width: 360px;
  max-width: 360px;
}
body .container header {
  display: flex;
  justify-content: space-between;
  background: #5e81d1;
  align-items: center;
  padding: 1rem 0.4rem;
}
body .container header nav ul {
  display: flex;
  justify-content: end;
  list-style: none;
}
body .container header nav ul li {
  padding: 0.6rem;
}
body .container .total {
  position: relative;
  z-index: 1;
  background: #f87500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 1rem;
  -webkit-box-shadow: 0px -3px 2px -2px rgba(0, 0, 0, 0.5), 0px 3px 2px -2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px -3px 2px -2px rgba(0, 0, 0, 0.5), 0px 3px 2px -2px rgba(0, 0, 0, 0.5);
  box-shadow: 0px -3px 2px -2px rgba(0, 0, 0, 0.5), 0px 3px 2px -2px rgba(0, 0, 0, 0.5);
}
body .container .total img {
  width: 1.7rem;
}
body .container .total span {
  font-size: 1rem;
}
body .container .articles {
  background: #ff8d27;
  padding: 0.7rem;
  min-height: 100vh;
}
body .container .articles .artic {
  display: flex;
  justify-content: space-between;
  padding: 0.2rem 0rem;
}
body .container .articles .artic .line-through {
  text-decoration: line-through;
}
body .container .articles .artic input[type=checkbox] {
  width: 0.5rem;
  height: 0.5rem;
  background: white;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  position: relative;
  cursor: pointer;
}
body .container .articles .artic span label {
  margin: 0rem 0.5rem;
}
body .container .articles .artic:hover {
  background: #c16b1e;
  color: white;
}
body .container .articles .totalizer hr {
  color: white;
  width: 100%;
  margin: auto;
  height: 1px;
}
body .container .articles .totalizer p {
  text-align: end;
  padding: 0.3rem 0rem;
}
body h2 {
  background-color: #ff8d27;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 1rem;
  font-size: medium;
}
body .formulario {
  background-color: #ff8d27;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 1rem;
  font-size: medium;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 1rem;
  font-size: medium;
}
body .modificar {
  background-color: #5e81d1;
  border: none;
  color: white;
  height: 45px;
  width: 70px;
}
