@import "variables";

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    display:flex;
    justify-content:center;
    font-size: 0.5rem;
    .selected{
        font-weight: bold;
    }
    a, a:visited, a:hover, a:active {
        color: inherit;
        text-decoration: none;
    }
    .container{
        min-width: 360px;
        max-width: 360px;
        header{
            display: flex;
            justify-content: space-between;
            background: $primary-color;
            align-items: center;
            padding: 1rem 0.4rem;
            nav{
                
                ul{
                    display: flex;
                    justify-content: end;
                    list-style: none;
                    li{
                        padding: 0.6rem;
                    }
                }
            }
        }
        .total{
            position:relative;
            z-index: 1;
            background: $secondary-color;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0.7rem 1rem;
            -webkit-box-shadow: 0px -3px 2px rgba(0,0,0,0.5), 0px 3px 2px rgba(0,0,0,0.5);
            -moz-box-shadow: 0px -3px 2px rgba(0,0,0,0.5), 0px 3px 2px rgba(0,0,0,0.5);
            box-shadow: 0px -3px 2px rgba(0,0,0,0.5), 0px 3px 2px rgba(0,0,0,0.5);
            img{
                width: 1.7rem;
            }
            span{
                font-size:1rem;
            }
        }
        .articles{
            background: $third-color;
            padding: 0.7rem;
            min-height: 100vh;
            .artic {
                display: flex;
                justify-content: space-between;
                padding: 0.2rem 0rem;
                .line-through{
                    text-decoration: line-through;
                }
                // input{
                //     // display: none;
                //     border: none;
                // }
                input[type="checkbox"] {
                    width: 0.5rem;
                    height: 0.5rem;
                    background: white;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    border: none;
                    outline: none;
                    position: relative;
                    // left: -5px;
                    // top: -5px;
                    cursor: pointer;
                }
                span{
                    label{
                        margin: 0rem 0.5rem;
                    }
                }
            }
            .artic:hover{
                background: $hover-color;
                color: white;
            }
            .totalizer{
                hr{
                    color: white;
                    width: 100%;
                    margin: auto;
                    height: 1px;
                }
                p{
                    text-align: end;
                    padding: 0.3rem 0rem;
                }
            }
            
        }
    }
    @mixin theme($theme:#ff8d27) {         
        background-color: $theme;         display: flex;   align-items: center;   justify-content: space-between;   padding: 0rem 1rem;   font-size: medium; 
    } 
    h2{     
        @include theme; 
    } 
    .formulario{     
        @include theme;     height: 200px;   display: flex;   align-items: center;   justify-content: space-between;   padding: 0rem 1rem;   font-size: medium; 
    } 
    .modificar{     
        background-color:#5e81d1;     border: none;   color: white;   height: 45px;   width: 70px; 
    };
}